.nav {
  padding: 10px; 
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  top: 0; 
  width: 100%; 
}

.nav-button {
  border-radius: 5px;
  border: 1px solid greenyellow;
  padding: 6px 12px;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 1s, background-color 1s, color 1s, border 1s;
  text-decoration: none; 
  margin-right: 10px;
  color: white;
}

.nav-button:hover {
  background-color: greenyellow; 
  color: black; 
  border: 3px solid  greenyellow; 
}

.nav-button:focus,
.nav-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: greenyellow; 
  color: black; 
  border: 3px solid  black; 
}

.nav-button-out {
  background-color: black; 
  color: greenyellow; 
  border: 1px solid  greenyellow; 
}

.search-bar {
  flex-grow: 1; 
  margin-left: 100px;
  margin-right: 10px;
  outline: none;
  background-color: transparent;
  color: white;
  border: transparent;
  border-bottom: 3px solid greenyellow;
  transition: background-color 1s, color 1s, border 1s, transform 1s;
}

.search-bar:hover {
  background-color: black;
  color: white;
  border: 3px solid yellowgreen;
  transform: scale(1.1);
}

.search-bar::-webkit-clear-button{
  color: red;
}

.title {
  width: 300px;
  height: auto;
  margin-left: 100px;
}