.button {
  border-radius: 5px;
  border: 1px solid greenyellow;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 1s, background-color 1s, color 1s, border 1s;
  text-decoration: none; 
  margin-right: 10px;
  color: white;
  margin-left:350px;
  margin-bottom: 20px;
}

.button:hover {
  background-color: greenyellow; 
  color: black; 
  border: 3px solid  greenyellow; 
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: greenyellow; 
  color: black; 
  border: 3px solid  black; 
}

